
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(57, 6, 57);
    color: white;
    display: flex;
    height: 30px; 
    align-items: center;
    padding: 10px 10px;
    font-family: "Roboto", serif; 
}
nav ul{
       list-style-type: none;
}

.gameContainer{
    
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
   
    font-family: "Roboto", serif;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(253, 221, 253);
    cursor: pointer;
} 

.gameInfo{
    padding:  0 34px;
    font-family: "Roboto", serif;
}


.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.bl-0{
    border-left: 0
}

.br-0{
    border-right: 0;
}

.info{
    margin:0 23px ;
    padding:6px 14px ;
    font-size: 25px;
}
#reset{
    margin: 0 23px;
    padding: 6px 14px;
    border-radius: 6px;
    background-color: #ffe5ff;
    cursor:pointer;
    font-size: 25px;
    font-weight: bolder;
    border: 1px solid black;

}
